
###############################
########### GENERAL ###########
###############################

# Go to desktop 
desktop () {
  cd ~/Desktop
}

# Create a new directory and enter it
mk () {
  mkdir -p "$@" && cd "$@"
}

# Make a branch
mkbranch () {
  local TICKET="$1_"
  local NAME="$2"
  git checkout -b dn/IOS-$TICKET$NAME
}

# Go go repos folder
repos () {
  cd ~/Desktop/repos
}

###############################
############ SWIFT ############
###############################

# Pod Install
pi () {
  pod install 
}

# Pod Install Repo Update
piru () {
  pod install --repo-update
}

# Delete Xcode Derived Data
nukedd () {
    rm -rf ~/Library/Developer/Xcode/DerivedData/*
}

# Upload dSYMS to Crashlytics
uploadDsyms() {
  local PATH_TO_DSYMS_ZIP="$1"
  ~/Desktop/repos/ios-client/Pods/FirebaseCrashlytics/upload-symbols -gsp ~/Desktop/repos/ios-client/FrameIO/GoogleService-Info.plist -p ios $PATH_TO_DSYMS_ZIP
}

###############################
############ MISC. ############
###############################

## Python / Jupyter Notesbooks
gojupyter () {
  cd /Users/daveneff/Desktop/side/python-ds-course
  jupyter notebook
}