
###############################
########### GENERAL ###########
###############################

# Go to desktop 
desktop () {
  cd ~/Desktop
}

# Create a new directory and enter it
mk () {
  mkdir -p "$@" && cd "$@"
}

# Make a branch
mkbranch () {
  local TICKET="$1_"
  local NAME="$2"
  git checkout -b dn/IOS-$TICKET$NAME
}

# Go go repos folder
repos () {
  cd ~/Desktop/repos
}

func openios () {
  open ~/Desktop/repos/ios-client/FrameIO.xcworkspace
}

func xcode() {
  local FILE_TO_OPEN="$1"
  open -a "Xcode" $FILE_TO_OPEN
}

###############################
############ SWIFT ############
###############################

# Bundle Install
bi () {
  bundle install
}

# Pod Install
pi () {
  bundle exec pod install 
}

# Pod Install Repo Update
piru () {
  bundle exec pod install --repo-update
}

pu () {
  local POD_NAME="$1"
  pod update $POD_NAME
}

# Delete Xcode Derived Data
nukedd () {
    rm -rf ~/Library/Developer/Xcode/DerivedData/*
}

# Upload dSYMS to Crashlytics
uploadDsyms() {
  local PATH_TO_DSYMS_ZIP="$1"
  ~/Desktop/repos/ios-client/Pods/FirebaseCrashlytics/upload-symbols -gsp ~/Desktop/repos/ios-client/FrameIO/GoogleService-Info.plist -p ios $PATH_TO_DSYMS_ZIP
}

###############################
############# GIT #############
###############################

prunedevelop () {
  git branch --merged develop | egrep -v '^\s*\*?\s*develop$' | xargs git branch -d
}

prunemain () {
  git branch --merged main | egrep -v '^\s*\*?\s*main$' | xargs git branch -d
}

prunemaster () {
  git branch --merged master | egrep -v '^\s*\*?\s*master$' | xargs git branch -d
}

###############################
############ MISC. ############
###############################

## Python / Jupyter Notesbooks
gojupyter () {
  cd /Users/daveneff/Desktop/side/python-ds-course
  jupyter notebook
}