# Pod Install
pi () {
  pod install 
}

# Pod Install Repo Update
piru () {
  pod install --repo-update
}

# Delete Xcode Derived Data
nukedd () {
    rm -rf ~/Library/Developer/Xcode/DerivedData/*
}

# Create a new directory and enter it
mk () {
  mkdir -p "$@" && cd "$@"
}

# Go go repos folder
repos () {
  cd ~/Desktop/repos
}